<h1>Edit task</h1>

<form action='/tasks/<%= @task.id %>/update_title' method='POST'>
  <textarea name='title' placeholder='Task..' ><%= @task.title %></textarea>
  <br />
  <input type='submit' value='Update Task' />
</form>
