<form id='taskForm' action='/tasks' method='POST'>
  <div class="form-group">
    <textarea rows=4 id=title class='form-control' name='title' placeholder='Task..' ></textarea>
  </div>
  <input class='btn btn-primary' type='submit' value='Create Task' />
</form>

<hr />

<ol id=tasks>
  <% @tasks.each do |t| %>
    <li class='<%= t.completed ? 'complete' : 'incomplete' %>'>
    <span><%= t.title %></span>
    <a href='#' data-taskid='<%= t.id %>' type=button class='delete-task btn btn-danger btn-xs'>
      <i class='glyphicon glyphicon-trash'></i>
    </a>
  </li>
<%end%>
</ol>


<script type="text/javascript">
  var form = $('#taskForm');

  form.submit(function(e){
      e.preventDefault()
      //send an ajax request to the server
      var title = $('#title').val();
      $.post('/tasks', {title: title}, function(task){
        $('#tasks').append('<li><span>' + task.title + "</span><a href='#' data-taskid='" + task.id + " ' type=button class='delete-task btn btn-danger btn-xs'><i class='glyphicon glyphicon-trash'></i></a></li>")
        $('#title').val('')
        })
      })

    console.log("wiring up the handler")

$('#tasks').on('click', '.delete-task', function(e){

    console.log("in the click handler")

    e.preventDefault()
    var id = $(this).data('taskid');

    var li = $(this).parent();

    $.post('/tasks/' + id + "/destroy", function(){
      li.remove();
    })
})
</script>
