

<h1 class='page-header'>New Task form</h1>

<form action='/tasks' method='POST'>
  <div class="form-group">
    <label for='title'>Title</label>
    <textarea rows=10 id=title class='form-control' name='title' placeholder='Task..' ></textarea>
  </div>
  <input class='btn btn-primary' type='submit' value='Create Task' />
</form>
